.no-print {
    top: 50px !important;
}

.user-header-no-image {
    height: auto !important;
}

.right-side > .content-header > .breadcrumb {
    right: 50px !important;
}

.alert {
    margin-top: 20px !important;
}

.is-required {
    color: red;
}

.ajax-loading, .ajax-error {
    text-align: center;
}

.ajax-error {
    color: red;
}

/*@media print {
    body * {
        visibility: hidden;
    }

    .printable, .printable * {
        visibility: visible;
    }

    .printable {
        left: 0;
        position: fixed;
        top: 0;
    }
}*/

.config-layout {
    position: fixed;
    top: 150px;
    right: 0px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px 0px 0px 5px;
    padding: 10px 15px;
    font-size: 16px;
    z-index: 999999;
    cursor: pointer;
    color: rgb(221, 221, 221);
}

.config-skin {
    padding: 10px;
    position: fixed;
    top: 130px;
    right: -200px;
    background: rgb(255, 255, 255);
    border: 3px solid rgba(0, 0, 0, 0.7);
    width: 200px;
    z-index: 999999;
}

.config-skin h4 {
    margin: 0 0 5px 0;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 3px;
}

.callout.callout-success {
  background-color: #e9fee6;
  border-color: #c2f1bc;
}
.callout.callout-success h4 {
  color: #3c763d;
}

.center {
    text-align: center;
}

ul.ui-sortable li * {
    vertical-align: middle;
}
